## Episode 0 - Getting Started with Python

Date: 2016-11-21

Some text here to explain why this notebook exists.

In [1]:
2+2

4

In [2]:
print("Hello world")

Hello world

In [3]:
print("Hello world")
2+2

Hello world

4

In [4]:
2+2
print("Hello world")

Hello world

In [6]:
print(2+6)
print("Hello everyone")

8
Hello everyone

In [21]:
text = "Data Carpentry"
number = 42

In [22]:
text

'Data Carpentry'

In [9]:
number

42

In [17]:
fish = "Data Carpentry"
fish

'Data Carpentry'

In [18]:
print(fish, text)

Data Carpentry Data Carpentry

In [19]:
text = 42
text

42

In [24]:
total_lenght = 0
tweet_text = "this is a tweet from @brendam"
print(len(tweet_text))
total_lenght = total_lenght + len(tweet_text)
print(total_lenght)

29
29

In [25]:
tweet_text = "a different tweet"
print(len(tweet_text))
total_lenght = total_lenght + len(tweet_text)
print(total_lenght)

17
46

In [26]:
print(len("a different tweet"))
total_lenght = total_lenght + len("a different tweet")
print(total_lenght)

17
63

In [30]:
3 + 2

5

In [29]:
3 * 2

6

In [31]:
3 ** 2

9

In [33]:
13 % 5

3

In [34]:
13/5

2.6

In [36]:
print('hello' + ' ' + 'world')

hello world

In [37]:
3 > 4

False

In [38]:
True

True

In [39]:
'cat' == 'cat'

True

In [40]:
False

False

In [42]:
some_numbers = [5, 9, 15, 2, 3]
some_numbers

[5, 9, 15, 2, 3]

In [43]:
some_numbers[1]

9

In [44]:
some_numbers[0]

5

In [49]:
x = 0
for num in some_numbers:
    # print(num)
    x = x + num
    print('x:', x, 'number:', num)
    
print(x)

x: 5 number: 5
x: 14 number: 9
x: 29 number: 15
x: 31 number: 2
x: 34 number: 3
34

In [46]:
x

34

In [53]:
del(x)
for num in some_numbers:
    # print(num)
    x = x + num
    print('x:', x, 'number:', num)
    
print(x)

NameError: name 'x' is not defined

In [54]:
for num in some_numbers:
    # print(num)
    x = 0 + num
    print('x:', x, 'number:', num)
    
print(x)

x: 5 number: 5
x: 9 number: 9
x: 15 number: 15
x: 2 number: 2
x: 3 number: 3
3

In [69]:
x = 0
for item in some_numbers:
    print('x =', x, 'numbers[x]:', some_numbers[x], 'item jumps:', item)
    x = x + 1
    
print(x)

x = 0 numbers[x]: 5 item jumps: 5
x = 1 numbers[x]: 9 item jumps: 9
x = 2 numbers[x]: 15 item jumps: 15
x = 3 numbers[x]: 2 item jumps: 2
x = 4 numbers[x]: 3 item jumps: 3
5

In [62]:
item

3

In [63]:
fish

3

In [64]:
num

3

In [78]:
new_list = ['hello', 'goodbye', 3, 9, 10]

In [79]:
type(new_list)

list

In [72]:
for item in new_list:
    print(item)

hello
goodbye
3
9
10

In [73]:
new_list.append('extra bit')
new_list

['hello', 'goodbye', 3, 9, 10, 'extra bit']

In [81]:
new_tuple = ('hello', 'goodbye', 3, 9, 10)

In [82]:
type(new_tuple)

tuple

In [84]:
new_tuple[0] = 'fjklsafdj'

TypeError: 'tuple' object does not support item assignment

In [85]:
my_dict = {'fish':'swims in the sea', 4: 'four'}
my_dict

{4: 'four', 'fish': 'swims in the sea'}

In [91]:
my_dict['fish']

'swims in the sea'

In [92]:
my_dict['swims in the sea']

KeyError: 'swims in the sea'

In [93]:
my_dict[4]

'four'

In [94]:
for thing in my_dict:
    print(thing)

4
fish

In [95]:
for key in my_dict.keys():
    print(key)

4
fish

In [97]:
for key in my_dict.keys():
    print('key', key, 'has value', my_dict[key])

key 4 has value four
key fish has value swims in the sea

In [107]:
for row in my_dict.items():
    print('row', row)

row (4, 'five')
row ('fish', 'something')

In [100]:
for value in my_dict.values():
    print(value)

four
swims in the sea

In [102]:
my_dict = {'fish':'swims in the sea', 4: 'four', 'fish':'something'}

In [103]:
my_dict

{4: 'four', 'fish': 'something'}

In [104]:
my_dict[4] = 'five'

In [105]:
my_dict

{4: 'five', 'fish': 'something'}